.conocimientos {
    grid-area: conocimientos;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas:    "formacion skills";
}

@media screen and (max-width: 768px) {
    .conocimientos {
        grid-area: conocimientos;
        display: grid;
        grid-gap: 0;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:    "formacion"
                                "skills";
    }
}
