.portafolio {
    grid-area: portafolio;
    background-color: #81A4CD;
}

.portafolio__trabajos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px auto;
}

.portafolio__card {
    display: flex;
    flex-direction: column;
    background: #C1E6DC;
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 30px;
    padding-right: 10px;
    max-width: 100%;
}

.portafolio__thumbnail {
    margin: 0;
    padding: 0;
}

.portafolio__img {
    width: 300px;
    height: auto;
    flex: 1 1 auto;
}

.portafolio__informacion {
    padding: 0 20px;
}

.portafolio__titulo {
    font-size: 20px;
    color: #C1292E;
    text-align: center;
}

.portafolio__subtitulo {
    margin: 3px 0;
    padding: 5px 5px;
    background-color: #033F62;
    color: #C1E6DC;
    text-align: center;
    border-radius: 12px;
}

.portafolio__extracto {
    margin-top: 10px;
    font-size: 16px;
    color: #033F62;
    text-align: center;
}

.portafolio__enlaces {
    flex: 1 1 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.portafolio__lista {
	text-decoration: none;
	display: flex;
	list-style: none;
	justify-content: center;
}

.portafolio__icono {
    color: #033F62;
	font-size: 20px;
	padding: 5px 12px;
	background-color: transparent;
	border-radius: 4px;
	margin: 0 7px;
}

.portafolio__icono:hover {
    color: #581845;
	transition: 0.4s;
	transform: translateY(-3px) scale(1.05);
}

